<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

	<h:head>
		<title>Gestionale permessi</title>
		
		<h:outputStylesheet library="css" name="style.css" />
	</h:head>

	<h:body style="padding-top: 50px; padding-bottom: 20px;">

		<b:navBar brand="Gestionale Permessi" fixed="top" brandHref="/template/layoutPrivato.xhtml">
			<b:navbarLinks>
				
				<b:dropMenu value="Report Permessi giornalieri">
					<b:navLink value="Tutti i permessi" href="/secure/permessi_all.xhtml"></b:navLink>
					<b:navLink value="permessi concessi" href="/secure/permessi_concessi.xhtml"></b:navLink>
				</b:dropMenu>
				<b:dropMenu value="Report richiesta ferie">
					<b:navLink value="Tutte le richieste" href="/secure/ferie_all.xhtml"></b:navLink>
					<b:navLink value="ferie concesse" href="/secure/ferie_concesse.xhtml"></b:navLink>
				</b:dropMenu>
			</b:navbarLinks>
	
			
			<b:navbarLinks pull="right">
				<b:navLink value="#{loginController.utenteConnesso}"></b:navLink>
			</b:navbarLinks>
		</b:navBar>
		
		
	<div class="conferma">
			<h2>L'E-mail è stata inviata al tuo responsabile</h2>
			<font color="green">la richiesta verrà esaminata a breve dal responsabile indicato</font>
			<hr />
			<div class="form-group">
			
				<ul>
					<li><a href="/template/layoutPrivato.xhtml"> <h3>Richiesta completata, torna alla home</h3></a></li>
					
				</ul>
			</div>
			
		
	</div>
	</h:body>
</html>