<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	 xmlns:b="http://bootsfaces.net/ui">

	<h:head>
		<title>Gestionale Permessi</title>	
		<h:outputStylesheet library="css" name="style.css" />
	</h:head>

	<h:body style="padding-top: 50px; padding-bottom: 20px;">
	
		<b:navBar brand="Gestionale Permessi"  fixed="top">	
		</b:navBar>
		
		<ui:insert name="form-login">	</ui:insert>	
		
	</h:body>
</html>