.form {
	
	background-color: #efefef;
	width: 300px;
	height: auto;
	border-radius: 9px;
	padding: 10px ;
	float: center;
	margin: 100px auto ;
}

.form_richiesta {

	background-color: #efefef;
	width: 500px;
	height: auto;
	border-radius: 9px;
	padding: 10px;
	margin: 100px auto ;
}

.form_scelta {
	text-align: center;
	background-color: #efefef;
	width: 500px;
	height: auto;
	border-radius: 9px;
	padding: 10px;
	margin: 100px auto ;
}
.form_scelta ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	border-radius: 20px;
}

.form_richiesta #invia{
	margin-top: 80px;
	padding: 10px;
}
.table{
	background-color: #efefef;
	
	height: auto;
}

.table #lista{
	
	float: center;
	margin: 100px auto ;
	width: 100%;
}
.conferma {
	text-align: center;
	background-color: #efefef;
	width: 60%;
	height: auto;
	border-radius: 9px;
	padding: 10px ;
	float: center;
	margin: 100px auto ;
}
.conferma ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	border-radius: 20px;
}
.form_registrazione {

	background-color: #efefef;
	width: 300px;
	height: auto;
	border-radius: 9px;
	padding: 10px;
	margin: 100px auto ;
}
#richiesta #minuti_r,#richiesta #minuti_i{
	
	height:35px;
}
#richiesta #rientro{
	
}