<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:b="http://bootsfaces.net/ui">
	
	<h:head>
		<title>Gestionale permessi</title>
		
		<h:outputStylesheet library="css" name="style.css" />
	</h:head>

	<h:body style="padding-top: 50px; padding-bottom: 20px;">
		<b:navBar brand="Gestionale Permessi" fixed="top" brandHref="/template/layoutPrivato.xhtml">
			<b:navbarLinks>
				<b:dropMenu value="Report Permessi giornalieri">
					<b:navLink value="Tutti i permessi" href="/secure/permessi_all.xhtml"></b:navLink>
					<b:navLink value="permessi concessi" href="/secure/permessi_concessi.xhtml"></b:navLink>
				</b:dropMenu>
				<b:dropMenu value="Report richiesta ferie">
					<b:navLink value="Tutte le richieste" href="/secure/ferie_all.xhtml"></b:navLink>
					<b:navLink value="ferie concesse" href="/secure/ferie_concesse.xhtml"></b:navLink>
				</b:dropMenu> 
			</b:navbarLinks>
			<b:navbarLinks pull="right">
				<b:navLink value="#{loginController.utenteConnesso}"></b:navLink>
			
			</b:navbarLinks>
	</b:navBar> 
	
	 <ui:fragment rendered="${!empty param['concesso']}">
				 	<b:alert><div class="alert  alert-danger"  style="text-align: center">
				 		<font color="green"> HAI APPROVATO LA RICHIESTA, UNA E-MAIL E' STATA INVIATA ALL' UTENTE </font>
				 	</div></b:alert>
            	</ui:fragment>
     <ui:fragment rendered="${!empty param['negato']}">
				 	<b:alert><div class="alert  alert-danger"  style="text-align: center">
				 		<font color="red"> HAI NEGATO LA RICHIESTA, UNA E-MAIL E' STATA INVIATA ALL' UTENTE </font>
				 	</div></b:alert>
            	</ui:fragment>
	
		
				 <div class="richieste" style="width:90%;float:center; margin:0px auto ">
			<h2 >Area Responsabili</h2>
			<h:form>
			<p:commandButton update=":form:utentiDetail"  oncomplete="PF('utentiDialog').show()" value="LISTA UTENTI" class="btn btn-primary btn-lg" style="padding:7px; margin:5px; "></p:commandButton>
			</h:form>
			<hr  /><h:form id="form">
				 		<p:dataTable value="#{listaPermessiController.listaRichieste}" var="permesso" id="lista"  >
				 			<p:column style="width:7%">
								<f:facet name="header">
									<h:outputText value="UTENTE" />
								</f:facet>
							<h:outputText value="#{permesso.utente}" />
							</p:column>	
							<p:column>
								<f:facet name="header">
									<h:outputText value="MOTIVO" />
								</f:facet>
							<h:outputText value="#{permesso.motivo}" />
							</p:column>	
							
							<p:column>
								<f:facet name="header">
									<h:outputText value="DATA" />
								</f:facet>
									<h:outputText value="#{permesso.data_permesso}" /><br/>
									<h:outputText value="dalle ore: #{permesso.ora_inizio} - alle ore: #{permesso.ora_rientro}"/>
							</p:column>	
							<p:column>
								<f:facet name="header">
									<h:outputText value="GIORNO INIZIO" />
								</f:facet>
									<h:outputText value="#{permesso.giorno_inizio}" /><br/>					
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="GIORNO RIENTRO" />
								</f:facet>
									<h:outputText value="#{permesso.giorno_fine}" /><br/>					
							</p:column>	 	
							<p:column>
					
								<p:commandButton update=":form:permessoDetail" value="CONCEDI"  oncomplete="PF('permessoDialog').show()" class="btn btn-primary btn-lg" style="padding:7px; margin:5px">
									<f:setPropertyActionListener value="#{permesso}" target="#{selezioneController.permessoSelected}" ></f:setPropertyActionListener>
								</p:commandButton>
								<p:commandButton update=":form:negaDetail" value="NEGA"  oncomplete="PF('negaDialog').show()" class="btn btn-primary btn-lg" style="padding:7px; margin:5px">
									<f:setPropertyActionListener value="#{permesso}" target="#{selezioneController.permessoSelected}" ></f:setPropertyActionListener>
								</p:commandButton>
							</p:column>					 		
				 		</p:dataTable>
				 		<hr/>
		<!-- DIALOG CONCEDI PERMESSO -->
		<p:dialog widgetVar="permessoDialog" width="300" height="400" modal="true" resizable="false">
			<p:outputPanel id="permessoDetail">
				<h3><b>Concessione Permesso</b></h3><hr/>
				<font color="green"><b>Stai per accordare la richiesta di permesso, controlla i dati prima di procedere</b><br/></font>
				
			
				<p:panelGrid columns="2" rendered="#{not empty selezioneController.permessoSelected}" >
				
				  <h:outputText  value="id_permesso" />
				<h:outputText  value="#{selezioneController.permessoSelected.idpermesso}"/>
				
				<h:outputText  value="ID utente" />
				<h:outputText  value="#{selezioneController.permessoSelected.utente}"/>
				
				<h:outputText  value="motivo" />
				<h:outputText  value="#{selezioneController.permessoSelected.motivo}"/>
				
				<h:outputText  value="data" />
				<h:outputText  value="#{selezioneController.permessoSelected.data_permesso}"/>
				
				<h:outputText  value="giorno inizio" />
				<h:outputText  value="#{selezioneController.permessoSelected.giorno_inizio}"/>
				
				<h:outputText  value="giorno fine" />
				<h:outputText  value="#{selezioneController.permessoSelected.giorno_fine}"/>

				</p:panelGrid>
				<hr/>
					<h:commandButton class="btn btn-primary btn-lg" onclick="concedi.close();" value="CONCEDI" action="#{selezioneController.concediPermesso}" style="padding:7px; margin:5px"> </h:commandButton>
					<h:commandButton class="btn btn-primary btn-lg" onclick="concedi.close();" value="ANNULLA" style="padding:7px; margin:5px"> </h:commandButton>
			</p:outputPanel>
			</p:dialog>
	
								
		<!-- DIALOG NEGA PERMESSO -->		
		<p:dialog widgetVar="negaDialog" width="300" height="400" modal="true" resizable="false">
		<p:outputPanel id="negaDetail">
			<h3><b>Nega Permesso</b></h3><hr/>
			<font color="red"><b>Stai per negare la richiesta di permesso, controlla i dati prima di procedere</b><br/></font>

			<p:panelGrid columns="2" rendered="#{not empty selezioneController.permessoSelected}" >
			
			<h:outputText  value="id_utente" />
			<h:outputText  value="#{selezioneController.permessoSelected.utente}"/>
			
			<h:outputText  value="motivo" />
			<h:outputText  value="#{selezioneController.permessoSelected.motivo}"/>
			
			<h:outputText  value="data" />
			<h:outputText  value="#{selezioneController.permessoSelected.data_permesso}"/>
			
			<h:outputText  value="giorno inizio" />
			<h:outputText  value="#{selezioneController.permessoSelected.giorno_inizio}"/>
			
			<h:outputText  value="giorno fine" />
			<h:outputText  value="#{selezioneController.permessoSelected.giorno_fine}"/>

			</p:panelGrid>
			<hr/>
				<h:commandButton class="btn btn-primary btn-lg" onclick="concedi.close();" value="NEGA" action="#{selezioneController.negaPermesso}" style="padding:7px; margin:5px"> </h:commandButton>
				<h:commandButton class="btn btn-primary btn-lg" onclick="concedi.close();" value="ANNULLA" style="padding:7px; margin:5px"> </h:commandButton>
		</p:outputPanel>
		</p:dialog>
								
										
	<!-- DIALOG LISTA UTENTI -->
	<p:dialog widgetVar="utentiDialog"  modal="true" resizable="false">
			<p:dataList id="utentiDetail" value="#{selezioneController.listaUtenti}" var="utente" >
				<f:facet name="header">
    									LISTA UTENTI
    									
 								    </f:facet><hr/>
 								  <b> #{utente.nome} #{utente.cognome}  (</b>ID: <b>#{utente.idutente}</b>) --- #{utente.email} <br/><hr/>
			</p:dataList>							
			<hr/>
				<h:commandButton class="btn btn-primary btn-lg" onclick="concedi.close();" value="CHIUDI" style="padding:7px; margin:5px"> </h:commandButton>
			
	</p:dialog>
	</h:form>
</div>
            	
</h:body>
</html>