<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

	<h:head>
		<title>Gestionale permessi</title>
		
		<h:outputStylesheet library="css" name="style.css" />
	</h:head>

	<h:body style="padding-top: 50px; padding-bottom: 20px;">

		<b:navBar brand="Gestionale Permessi" fixed="top" brandHref="/template/layoutPrivato.xhtml">
			<b:navbarLinks>
				
				<b:dropMenu value="Report Permessi">
					<b:navLink value="Tutti i permessi" href="/secure/permessi_all.xhtml"></b:navLink>
					<b:navLink value="permessi concessi" href="/secure/permessi_concessi.xhtml"></b:navLink>
				</b:dropMenu>
				<b:dropMenu value="Report richiesta ferie">
					<b:navLink value="Tutte le richieste" href="/secure/ferie_all.xhtml"></b:navLink>
					<b:navLink value="ferie concesse" href="/secure/ferie_concesse.xhtml"></b:navLink>
				</b:dropMenu>
			</b:navbarLinks>
	
			
			<b:navbarLinks pull="right">
				<b:navLink value="#{loginController.utenteConnesso}"></b:navLink>
			</b:navbarLinks>
		</b:navBar>
		
		
		
	<b:container>
			<h2>Lista Ferie concesse all' utente :
			<h:outputText value="#{loginController.utenteConnesso}" ></h:outputText></h2>
			<br/><hr/>
			<b:dataTable value="#{listaPermessiController.listaFerieConcesse}" var="permesso" id="lista"
				styleClass="table table-striped table-bordered" style="width:100%">
				<h:column>
				<f:facet name="header">
						<h:outputText value="id_permesso" />
					</f:facet>
					<h:outputText value="#{permesso.idpermesso}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="motivazione" />
					</f:facet>
					<h:outputText value="#{permesso.motivo}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="responsabile" />
					</f:facet>
					<h:outputText value="#{permesso.responsabile}" />
				</h:column>
				<h:column>
				<f:facet name="header">
						<h:outputText value="giorno inizio" />
					</f:facet>
					<h:outputText value="#{permesso.giorno_inizio}" /><br/>					
				</h:column>
				<h:column>
				<f:facet name="header">
						<h:outputText value="giorno rientro" />
					</f:facet>
					<h:outputText value="#{permesso.giorno_fine}" /><br/>					
				</h:column>
				
			</b:dataTable>
		</b:container>
			
			
		
	
	</h:body>
</html>