<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

	<h:head>
		<title>Gestionale permessi</title>
		
		<h:outputStylesheet library="css" name="style.css" />
	</h:head>

	<h:body style="padding-top: 50px; padding-bottom: 20px;">

		<b:navBar brand="Gestionale Permessi" fixed="top" brandHref="/template/layoutPrivato.xhtml">
			<b:navbarLinks>
				
				<b:dropMenu value="Report Permessi">
					<b:navLink value="Tutti i permessi" href="/secure/permessi_all.xhtml"></b:navLink>
					<b:navLink value="permessi concessi" href="/secure/permessi_concessi.xhtml"></b:navLink>
				</b:dropMenu>
				<b:dropMenu value="Report richiesta ferie">
					<b:navLink value="Tutte le richieste" href="/secure/ferie_all.xhtml"></b:navLink>
					<b:navLink value="ferie concesse" href="/secure/ferie_concesse.xhtml"></b:navLink>
				</b:dropMenu>
			</b:navbarLinks>
	
			
			<b:navbarLinks pull="right">
				<b:navLink value="#{loginController.utenteConnesso}"></b:navLink>
			</b:navbarLinks>
		</b:navBar>
		
		
		
	<b:container>
			<h2>Richieste di Permesso effettuate dall' utente :
			<h:outputText value="#{loginController.utenteConnesso}" ></h:outputText></h2>
			<br/><hr/>
			<div class="table">
			<b:dataTable value="#{listaPermessiController.listaPermessiUtente}" var="permesso" id="lista" >
				<h:column>
				<f:facet name="header">
						<h:outputText value="ID RICHIESTA" />
					</f:facet>
					<h:outputText value="#{permesso.idpermesso}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="MOTIVO" />
					</f:facet>
					<h:outputText value="#{permesso.motivo}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="RESPONSABILE" />
					</f:facet>
					<h:outputText value="#{permesso.responsabile}" />
				</h:column>
				<h:column>
				<f:facet name="header">
						<h:outputText value="DATA" />
					</f:facet>
					<h:outputText value="#{permesso.data_permesso}" /><br/>
					<h:outputText value="dalle ore: #{permesso.ora_inizio} - alle ore:  #{permesso.ora_rientro}"/>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="STATO" />
					</f:facet>
					concesso: <b><font size="5px" ><h:outputText value=" #{permesso.concesso}" /></font></b>
					
				</h:column>
				
			</b:dataTable>
			</div>
		</b:container>
			
			
		
	
	</h:body>
</html>