<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

	<h:head>
		<title>Gestionale permessi</title>
		
		<h:outputStylesheet library="css" name="style.css" />
	</h:head>

	<h:body style="padding-top: 50px; padding-bottom: 20px;">

		<b:navBar brand="Gestionale Permessi" fixed="top" brandHref="/template/layoutPrivato.xhtml">
			<b:navbarLinks>
				
				<b:dropMenu value="Report Permessi">
					<b:navLink value="Tutti i permessi" href="/secure/permessi_all.xhtml"></b:navLink>
					<b:navLink value="permessi concessi" href="/secure/permessi_concessi.xhtml"></b:navLink>
				</b:dropMenu>
				<b:dropMenu value="Report richiesta ferie">
					<b:navLink value="Tutte le richieste" href="/secure/ferie_all.xhtml"></b:navLink>
					<b:navLink value="ferie concesse" href="/secure/ferie_concesse.xhtml"></b:navLink>
				</b:dropMenu>
			</b:navbarLinks>
	
			
			<b:navbarLinks pull="right">
				<b:navLink value="#{loginController.utenteConnesso}"></b:navLink>
			</b:navbarLinks>
	
		</b:navBar>
		
		
		
	<div class="form_richiesta">
			
			
				<h2>Richiedi periodo di ferie</h2>
				<font color="green">Compila tutti i campi e invia la richiesta</font>
				<hr />
				<h:form id="login" role="form"  prependId="false">
				
				
				
				
										
				<div class="form-group  ">
					<label class=" col-sm-10">MOTIVO DELL' ASSENZA:</label>
					 <div class="left-inner-addon col-sm-10">
						
						<p:inputText id="motivo" class="form-control" placeholder="Motivo" value="#{richiestaFerieController.richiestaForm.motivo}"
									required="true" requiredMessage="specifica il motivo">  </p:inputText>
						<p:message for="motivo"></p:message>
					    </div>	
					
				
				<br />	
				</div>
			<br />
			<hr />
				<div class="form-group ">
					<label class=" col-sm-10 ">A PARTIRE DAL GIORNO:</label>
					<div class="left-inner-addon col-sm-10">
						
						<p:calendar id="data_inizio"  placeholder="GG/MM/AAAA" value="#{richiestaFerieController.richiestaForm.data_inizio}"
									required="true" requiredMessage="seleziona una data"></p:calendar>
						<p:message for="data_inizio"></p:message>
					</div>
					<br />	
					</div>			
				<div class="form-group ">
					<label class=" col-sm-10 ">SINO AL :</label>
					<div class="left-inner-addon col-sm-10">
						
					<p:calendar id="data_rientro"  placeholder="GG/MM/AAAA" value="#{richiestaFerieController.richiestaForm.data_rientro}"
								required="true" requiredMessage="seleziona una data"></p:calendar>
						<p:message for="data_rientro"></p:message>
					</div>	
					
				</div>	
					<div class="col-sm-10">	
					<ui:fragment rendered="${!empty param['date_sbagliate']}">
				 	<div class="alert alert-danger" role="alert">
				 		<font color="red"><b>Errore: </b> la data di rientro non può precedere quella di inizio</font>
				 		
				 	</div>
            	</ui:fragment>		
				</div>
				<br/><br /><hr/><hr/>
					<div class="form-group ">
					<label class=" col-sm-10 ">RESPONSABILE DA INFORMARE:</label>
					<div class=" col-sm-10">
						
						<p:selectOneMenu id="resp"  value="#{richiestaFerieController.richiestaForm.responsabile}"  >
						
						
							
							<f:selectItems value="#{listaResponsabiliController.listaResponsabili}" 
											var="resp"
											 itemValue="#{resp.idutente}"
											 itemLabel="#{resp.nome} #{resp.cognome}" />
						</p:selectOneMenu>
					</div>	
						
				</div>	
						<br />
						
				
	            	
	            	<div  id="invia">
						
						<h:commandButton  size="lg"
							value="Invia Richiesta " id="cb" class="btn btn-primary btn-lg" action="#{richiestaFerieController.registraPermesso}"
							look="primary" />
					</div>
			
			
	            		
	       			
	            		
			</h:form>
		
		</div>
			
			
		
	
	</h:body>
</html>