<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:b="http://bootsfaces.net/ui">

	<h:head>
		<title>Gestionale permessi</title>
		
		<h:outputStylesheet library="css" name="style.css" />
	</h:head>
	
	<h:body style="padding-top: 50px; padding-bottom: 20px;">

		<b:navBar brand="Gestionale Permessi" fixed="top" brandHref="/template/layoutPrivato.xhtml">
			<b:navbarLinks>
				
				<b:dropMenu value="Report Permessi">
					<b:navLink value="Tutti i permessi" href="/secure/permessi_all.xhtml"></b:navLink>
					<b:navLink value="permessi concessi" href="/secure/permessi_concessi.xhtml"></b:navLink>
				</b:dropMenu>
				<b:dropMenu value="Report richiesta ferie">
					<b:navLink value="Tutte le richieste" href="/secure/ferie_all.xhtml"></b:navLink>
					<b:navLink value="ferie concesse" href="/secure/ferie_concesse.xhtml"></b:navLink>
				</b:dropMenu>
			</b:navbarLinks>
	
			
			<b:navbarLinks pull="right">
				<b:navLink value="#{loginController.utenteConnesso}"></b:navLink>		
			</b:navbarLinks>
	
		</b:navBar>
		
		
	<div class="form_richiesta">
				<h2>Richiedi permesso giornaliero</h2>
				<font color="green">Compila tutti i campi e invia la richiesta</font>
				<h:form id="richiesta" role="form"  prependId="false">
				<b:messages id="messaggio" showSummary="false" />
				
	
				<div class="form-group  ">
					<label class=" col-sm-10 ">MOTIVO DELL'ASSENZA:</label>
					<div class="left-inner-addon col-sm-10">
						
						<p:inputText id="motivo" class="form-control" placeholder="Motivo" value="#{richiestaPermessiController.richiestaForm.motivo}"
									required="true" requiredMessage="specifica il motivo"></p:inputText>
						<p:message for="motivo"></p:message>
					</div>	
					
				</div>
				<BR/><HR/><BR/>
				<div class="form-group ">
					<label class=" col-sm-10 control-label">PER IL GIORNO:</label>
					<div class="left-inner-addon col-sm-10">
						
						<p:calendar id="data_permesso"  placeholder="GG/MM/AAAA" value="#{richiestaPermessiController.richiestaForm.data_permesso}"
									required="true" requiredMessage="seleziona una data"></p:calendar>
						
					</div>	
					<div class="col-sm-10">			
						<p:message  for="data_permesso"></p:message>
						</div>
				</div>
				<BR/><HR/><BR/>
				<div class="form-group ">
					<label class=" col-sm-3 control-label">DALLE ORE:</label>
					<div class="left-inner-addon col-sm-3">
						<table >
						<tr><td><p:inputText id="ora_inizio"  placeholder="HH" class="form-control" value="#{richiestaPermessiController.richiestaForm.ora_inizio}"
									required="true">
									<p:ajax event="blur"
											listener="#{richiestaPermessiController.verifica_ora_inizio()}"
											update="richiesta:messaggio inizioMsg" />
						</p:inputText></td><td> <b>:</b> 
						</td><td> <p:selectOneMenu id="minuti_i"  value="#{richiestaPermessiController.richiestaForm.minuti_i}"  >					
							<f:selectItem itemValue="00" itemLabel="00" />
							<f:selectItem itemValue="15" itemLabel="15" />
							<f:selectItem itemValue="30" itemLabel="30" />
							<f:selectItem itemValue="45" itemLabel="45" />
						</p:selectOneMenu></td></tr>
						
						</table>
					</div>	
						<div class="col-sm-10">
						<p:message id="inizioMsg" for="ora_inizio"></p:message>
						</div>		
				</div>
					<div class="form-group " id="rientro">
					<label class=" col-sm-3 control-label">ALLE ORE:</label>
					<div class="left-inner-addon col-sm-3">
						<table >
						<tr><td>
						<p:inputText id="ora_rientro"  placeholder="HH" class="form-control" value="#{richiestaPermessiController.richiestaForm.ora_rientro}"
									required="true" >
									<p:ajax event="blur"
											listener="#{richiestaPermessiController.verifica_ora_rientro()}"
											update="richiesta:messaggio rientroMsg" />
						</p:inputText>
									</td><td> <b>:</b> </td><td> <p:selectOneMenu id="minuti_r"  value="#{richiestaPermessiController.richiestaForm.minuti_r}"  >					
							<f:selectItem itemValue="00" itemLabel="00" />
							<f:selectItem itemValue="15" itemLabel="15" />
							<f:selectItem itemValue="30" itemLabel="30" />
							<f:selectItem itemValue="45" itemLabel="45" />
						</p:selectOneMenu></td></tr>
						
						</table>
						</div>
						<div class="col-sm-10">
						<p:message id ="rientroMsg" for="ora_rientro"></p:message>
						</div>
						<BR/><HR/><BR/>	
				</div>	
				<BR/>
					<div class="form-group ">
					<label class=" col-sm-10 control-label">RESPONSABILE DA INFORMARE:</label>
					<div class="left-inner-addon col-sm-10">
						
						<p:selectOneMenu id="resp"  value="#{richiestaPermessiController.richiestaForm.responsabile}"  >
												
							<f:selectItems value="#{listaResponsabiliController.listaResponsabili}" 
										   var="resp"
										   itemValue="#{resp.idutente}"
										   itemLabel="#{resp.nome} #{resp.cognome}" />
						</p:selectOneMenu>
					</div>	
						
				</div>	
						<br />
						
				
	            	  
	            	<div  id="invia">
						<h:commandButton  size="lg"
							value="Invia Richiesta " id="cb" class="btn btn-primary btn-lg" action="#{richiestaPermessiController.registraPermesso}"
							look="primary" />
					</div> 
			
	
			
	            		
	            			
	            		
			</h:form>
		</div>
			
			
		
	
	</h:body>
</html>