<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

	<h:head>
		<title>Gestionale permessi</title>
		
		<h:outputStylesheet library="css" name="style.css" />
	</h:head>

	<h:body style="padding-top: 50px; padding-bottom: 20px;">

		<b:navBar brand="Gestionale Permessi" fixed="top" />
			
		
		
		
	<div class="conferma">
			<h2>Account creato correttamente</h2>
			<font color="green">Effettua il Log-in e accedi all'area personale</font>
			<hr />
			<div class="form-group">
			
				<ul>
					<li><a href="login.xhtml"> <h3>LOG-IN</h3></a></li>
					
				</ul>
			</div>
			
		
	</div>
	</h:body>
</html>