<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui"
                template="/template/layoutPubblico.xhtml" >

	<ui:define name="form-login">  
		<b:container>
		<div class="form"><h1>Login:</h1>
				<hr />
			<h:form id="login" role="form" class="form-horizontal" prependId="false">
				
				
				 <ui:fragment rendered="${!empty param['error']}">
				 	<div class="alert alert-danger" role="alert">
				 		Errore di autenticazione: <br/>username o password errati
				 	</div>
            	</ui:fragment>
				
									
				<div class="form-group  ">
					<label class=" col-sm-6 control-label">Username:</label>
					<div class="left-inner-addon col-sm-10">
						
						<p:inputText id="username" class="form-control" placeholder="Username" value="#{loginController.username}">  </p:inputText>
					</div>	
				</div>
				
				<div class="form-group ">
					<label class=" col-sm-6 control-label">Password:</label>
					<div class="left-inner-addon col-sm-10">
						
						<p:password id="password" class="form-control" placeholder="Password" value="#{loginController.password}"></p:password>
					</div>				
				</div>
						
	            		<button type="submit" class="btn btn-primary btn-lg"  > LOGIN</button>
	            		
	            		<br/>
	            		<hr/>
	            		<hr/>
	            		
	            		Oppure<a href="registrazione.xhtml"> REGISTRATI </a>se non hai un account
	            				
			</h:form>
		  </div>
		</b:container>	
	</ui:define>
</ui:composition>