<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:b="http://bootsfaces.net/ui">

	<h:head>
		<title>Gestionale permessi</title>
		
		<h:outputStylesheet library="css" name="style.css" />
	</h:head>
	<script>
	document.addEventListener('DOMContentLoaded', function(){
       
       
        var f = document.getElementById('reg');
        f.addEventListener('submit', () =>{
          var testo1 =  document.reg.password.value;
          var testo2 =  document.reg.repassword.value;
          if(testo1 == testo2){
            console.log (testo1 + ' '+ testo2)
           // alert ('i valori inseriti sono uguali');
            
          }else{
            console.log (testo1 +' '+ testo2)
            alert ('ATTENZIONE!! le due password non corrispondono');
           
          }
        	
        
        
        })
        
          });</script>
	<h:body style="padding-top: 50px; padding-bottom: 20px;">

		<b:navBar brand="Gestionale Permessi" fixed="top" >
	
		</b:navBar>
		
		
	<div class="form_registrazione">
			
			
				<h2>Registrazione :</h2>
				<font color="green">Compila tutti i campi e crea il tuo account</font>
				<h:form id="reg" name="login" role="form"  prependId="false">
				<b:messages id="messaggio" showSummary="false" />
				
	
				<div class="form-group  ">
					<label class=" col-sm-10 ">Nome:</label>
					<div class="left-inner-addon col-sm-10">
						
						<p:inputText id="nome" class="form-control" placeholder="Nome" value="#{registrazioneController.registrazioneForm.nome}"
									required="true" requiredMessage="nome obbligatorio"></p:inputText>
						<p:message for="nome"></p:message>
					</div>	
					
				</div>
				<div class="form-group">
					<label class=" col-sm-10 ">Cognome:</label>
					<div class="left-inner-addon col-sm-10">
						
						<p:inputText id="cognome" class="form-control" placeholder="Cognome" value="#{registrazioneController.registrazioneForm.cognome}"
									required="true" requiredMessage="cognome obbligatorio"></p:inputText>
						<p:message for="cognome"></p:message>
					</div>	
					
				</div>
				<div class="form-group  ">
					<label class=" col-sm-10 ">E-mail:</label>
					<div class="left-inner-addon col-sm-10">
						
						<p:inputText id="email" class="form-control" placeholder="E-mail" value="#{registrazioneController.registrazioneForm.email}"
									required="true" requiredMessage="E-Mail obbligatoria" >
									<p:ajax event="blur"
											listener="#{registrazioneController.verificaMail()}"
										    update="reg:messaggio emailMsg" />
						</p:inputText>
						<p:message id="emailMsg" for="email"></p:message>
					</div>	
					
				</div>
				<div class="form-group  ">
					<label class=" col-sm-10 ">Username:</label>
					<div class="left-inner-addon col-sm-10">
						
						<p:inputText id="username" class="form-control" placeholder="Username" value="#{registrazioneController.registrazioneForm.username}"
									required="true" requiredMessage="scegli un username ">
									<p:ajax event="blur"
											listener="#{registrazioneController.usernamePresente()}"
										    update="reg:messaggio usernameMsg" /></p:inputText>
						<p:message id="usernameMsg" for="username"></p:message>
					</div>	
					
				</div>
				<div class="form-group  ">
					<label class=" col-sm-10 ">Password:</label>
					<div class="left-inner-addon col-sm-10">
						
						<p:password id="password" name="password" class="form-control" placeholder="Password" value="#{registrazioneController.registrazioneForm.password}"
									required="true" requiredMessage="scegli una password"></p:password>
						<p:message for="password"></p:message>
					</div>	
					
				</div>
				<div class="form-group  ">
					<label class=" col-sm-10 ">Conferma la password:</label>
					<div class="left-inner-addon col-sm-10">
						
						<p:password id="repassword" name="repassword" class="form-control" placeholder="Password" value="#{registrazioneController.registrazioneForm.repassword}"
									required="true" requiredMessage="campo obbligatorio"></p:password>
						<p:message for="repassword"></p:message>
					</div>	
					
				</div>
				<div class="form-group  ">
					<label class=" col-sm-10 ">Ruolo:</label>
					<div class="left-inner-addon col-sm-10">
						
						<p:selectOneMenu id="ruolo"  value="#{registrazioneController.registrazioneForm.ruolo}"  >
						
							<f:selectItem  itemValue='null' itemLabel="Seleziona un ruolo:"></f:selectItem>
							<f:selectItem  itemValue="amministratore" itemLabel="amministratore" />
							<f:selectItem  itemValue="responsabile" itemLabel="responsabile" />
							<f:selectItem  itemValue="user" itemLabel="user" />
							<p:ajax event="blur"
											Linstener="#{registrazioneController.verificaRuolo()}"
										    update="reg:messaggio ruoloMsg" />
						</p:selectOneMenu>
						
						<p:message id="ruoloMsg" for="ruolo"></p:message>
					</div>	
					
				</div>
						<br />
						
				<hr/>
	            	  
	            	<div  id="invia">
						<h:commandButton  size="lg"
							value="REGISTRATI" id="cb" class="btn btn-primary btn-lg" action="#{registrazioneController.registraUtente}"
							look="primary" />
					</div> 
			
	
			
	            		
	            			
	            		
			</h:form>
		</div>
			
			
		
	
	</h:body>
</html>